In [1]:
import graphlab as gpl

In [2]:
sf= gpl.SFrame('people-example.csv')

[INFO] This non-commercial license of GraphLab Create is assigned to asn@berkeley.eduand will expire on October 20, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-29569 - Server binary: /home/arko/anaconda/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1445425282.log
[INFO] GraphLab Server Version: 1.6.1

PROGRESS: Finished parsing file /home/arko/git/python-machine-learning/foundations/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.047247 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /home/arko/git/python-machine-learning/foundations/people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.040381 secs.

In [3]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [5]:
sf.column_names()

['First Name', 'Last Name', 'Country', 'age']

In [6]:
sf.column_types()

[str, str, str, int]

In [7]:
sf.num_cols()

4

In [8]:
sf.num_rows()

7

In [9]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [10]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [11]:
sf['age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

In [12]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [13]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:38956/index.html
Opening Canvas in default web browser.

In [14]:
gpl.canvas.set_target('ipynb')

In [15]:
sf['age'].show(view= 'Categorical')

In [16]:
sf[['age','Country']]

Columns:
	age	int
	Country	str

Rows: 7

Data:
+-----+---------------+
| age |    Country    |
+-----+---------------+
|  24 | United States |
|  23 |     Canada    |
|  22 |    England    |
|  23 |      USA      |
|  23 |     Poland    |
|  22 | United States |
|  25 |  Switzerland  |
+-----+---------------+
[7 rows x 2 columns]

In [17]:
sf['age'].sum()

162

In [18]:
sf['age'].mean()

23.142857142857146

In [21]:
sf['age2']= sf['age'] * sf['age']
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	age2	int

Rows: 7

Data:
+------------+-----------+---------------+-----+------+
| First Name | Last Name |    Country    | age | age2 |
+------------+-----------+---------------+-----+------+
|    Bob     |   Smith   | United States |  24 | 576  |
|   Alice    |  Williams |     Canada    |  23 | 529  |
|  Malcolm   |    Jone   |    England    |  22 | 484  |
|   Felix    |   Brown   |      USA      |  23 | 529  |
|    Alex    |   Cooper  |     Poland    |  23 | 529  |
|    Tod     |  Campbell | United States |  22 | 484  |
|   Derek    |    Ward   |  Switzerland  |  25 | 625  |
+------------+-----------+---------------+-----+------+
[7 rows x 5 columns]

In [22]:
sf['full_name']= sf['First Name'] + ' ' + sf['Last Name']
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	age2	int
	full_name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+------+----------------+
| First Name | Last Name |    Country    | age | age2 |   full_name    |
+------------+-----------+---------------+-----+------+----------------+
|    Bob     |   Smith   | United States |  24 | 576  |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | 529  | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 | 484  |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 | 529  |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 | 529  |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 | 484  |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 | 625  |   Derek Ward   |
+------------+-----------+---------------+-----+------+----------------+
[7 rows x 6 columns]

In [23]:
sf['Country'].show()

In [24]:
def sanitize_cntry(cntry):
    if (cntry=='USA'):
        retVal= 'United States'
    else:
        retVal= cntry
    return retVal

In [25]:
sanitize_cntry('Brazil')

'Brazil'

In [26]:
sanitize_cntry('United States')

'United States'

In [27]:
sanitize_cntry('USA')

'United States'

In [28]:
sf['Country'].apply(sanitize_cntry)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [29]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	age2	int
	full_name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+------+----------------+
| First Name | Last Name |    Country    | age | age2 |   full_name    |
+------------+-----------+---------------+-----+------+----------------+
|    Bob     |   Smith   | United States |  24 | 576  |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | 529  | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 | 484  |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 | 529  |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 | 529  |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 | 484  |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 | 625  |   Derek Ward   |
+------------+-----------+---------------+-----+------+----------------+
[7 rows x 6 columns]

In [30]:
sf['Country_sanitized']= sf['Country'].apply(sanitize_cntry)

In [31]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	age2	int
	full_name	str
	Country_sanitized	str

Rows: 7

Data:
+------------+-----------+---------------+-----+------+----------------+
| First Name | Last Name |    Country    | age | age2 |   full_name    |
+------------+-----------+---------------+-----+------+----------------+
|    Bob     |   Smith   | United States |  24 | 576  |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | 529  | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 | 484  |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 | 529  |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 | 529  |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 | 484  |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 | 625  |   Derek Ward   |
+------------+-----------+---------------+-----+------+----------------+
+-------------------+
| Country_sanitized |
+-------------------+
|   United States   |
|       Canada      |
|      England      |
|   United States   |
|       Poland      |
|   United States   |
|    Switzerland    |
+-------------------+
[7 rows x 7 columns]

In [32]:
sf['Country_sanitized'].show()